<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Da Burgers</title>
</head>

</br>
<body>
	<img src="/assets/img/urger.jpg" width="200px" id="burgerimage">

	{{{ body }}}
</br>
</body>
</html>
